* {
  font-family: 'Poppins', sans-serif;
}
.card {
  background-color: #ffffff;
  border-top: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 
  font-family: 'Poppins', sans-serif;
  border-radius: 0.2rem;
  width: 45rem;
  height: 70rem;
}

.img {
  position: relative;
  width: 45rem;
  height: 69rem;
}

.img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlay {

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.76); /* Fondo semi-transparente */
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.3s;
  height: 5rem;
}

.img:hover .overlay {
  opacity: 1; /* Mostrar el fondo al hacer hover sobre la imagen */
}

.detail {
  background-color: transparent; /* Cambiamos el color de fondo a transparente */
  color: #000000;
  padding: 1rem 2rem;
  border: none;
  font-size: 2.7rem;
  font-weight: 700;
  transition: background-color 0.3s, transform 0.3s;
  opacity: 0; /* Ocultamos el botón */
}

.img:hover .detail {
  opacity: 1; /* Mostramos el botón al hacer hover sobre la imagen */
  background-color: transparent;
}

.detail:hover {
  background-color: transparent;
  transform: scale(1.1);
}

button {
  cursor: pointer;
  font-size: 2rem;
  background-color: transparent;
}

.name {
text-transform: uppercase;
font-family: 'Poppins', sans-serif;
font-size: 1.8rem;
color: #000;
text-align: center;
font-weight: 400;
}

.price {
  color: #000;
  font-size: 2.3rem;
  margin: .5em 0;
  transition: font-size 0.3s, color 0.3s;
}
.content {
  cursor: pointer;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}