.container {
  margin: .5rem;
}

.categoryContainer {
  display: flex;
  flex: 1;
}

/* .categoryContainer h3 {

} */

.catContainer, .subCatContainer, .subSubCatContainer {
  flex: 1;
  border-radius: .8rem;
  margin: .5rem;
  padding: .5rem 1rem;
}
.catContainer {
  background-color: antiquewhite;
}

.subCatContainer {
  background-color: beige;
}
.subSubCatContainer {
  background-color: bisque;
}