/* .categoryContainer {
  display: flex;
}

.categories {
  flex: 1;
  width: 50%;
  background-color: aqua;
}

.category {
  flex: 1;
  width: 50%;
  background-color: aquamarine;
}

.categoryName {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  padding: 8px 16px;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

.deleteButton {
  background-color: #ff5555;
  color: #fff;
  border: none;
  padding: 4px 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #ff3333;
} */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addCategory {
  margin-bottom: 20px;
}

.categories {
  display: flex;
  flex-direction: column;
}

.category {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.category button {
  margin-right: 10px;
}

.selectedCategory {
  margin-top: 20px;
  background-color: #f2f2f2;
  padding: 10px;
}