.divGlobal {
  display: flex;
  /* gap: 2rem; */
  /* padding: 5.5rem 5%; */
}

.divImage {
  overflow: hidden;
}

.productoDetail {
  flex: 0 0 40%;
  max-width: 40%;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.productoDetailName {
  font-size: 2.4rem;
  color: #333333;
  margin-bottom: 10px;
}

.productoDetailDescription {
  color: #666666;
  margin-bottom: 10px;
}

.productoDetailPrice {
  font-weight: bold;
  color: #ff5722;
  margin-bottom: 10px;
}

.productoDetailDiscount {
  color: #00a65a;
  margin-bottom: 10px;
}

.productoDetailCategory {
  font-style: italic;
  color: #666666;
  margin-bottom: 10px;
}

.productoDetailImages {
  overflow: scroll; 
  max-height: 90rem;
 
}
.productoDetailImages::-webkit-scrollbar {
  display: none;
}

.productoDetailImageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 40rem;
  max-height: 80rem;
  overflow: hidden;
}

.productoDetailImage {
  width: 60rem;
  height: 90rem;
  object-fit: cover;
  cursor: zoom-in;
}



.productoDetailImageZoomOverlay.active {
  display: flex;
}

.productoDetailImageZoom {
  max-height: 90vh;
  max-width: 90vw;
}

.productoDetailStock {
  font-weight: bold;
  color: #333333;
  margin-top: 2rem;
}

.productoDetailVariations {
  font-style: italic;
  color: #666666;
  margin-top: 2rem;
}
.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 8rem;
}

.galleryImage {
  width: 12rem;
  height: 20rem;
  margin: 5px;
  cursor: pointer;
}

.selected {
  border: 2px solid red;
}
